<div class="wrapper">
    <div class="text-center mt-4 name">
        Sign Up
    </div>
    <form class="p-3 mt-3" [formGroup]="form">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="email" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="firstname" name="firstname" id="firstname" placeholder="Firstname" formControlName="firstName">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="lastname" name="lastname" id="lastname" placeholder="Lastname" formControlName="lastName">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="nickname" name="nickname" id="nickname" placeholder="Nickname" formControlName="nickName">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Password" formControlName="password">
        </div>
        <button class="btn mt-3" (click)="register()">Register</button>
    </form>
    <div class="text-center fs-6">
        <a routerLink="/sign-in">Sign in</a>
    </div>
</div>